body{
font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans TC', sans-serif; 
  text-transform: none;
}
.subheading {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.2rem;
  text-transform:none;
  letter-spacing:-0.05rem;
}
h1 .text-primary {
 font-size: 3rem;
 letter-spacing: -0.05rem;
 line-height: 3rem;
 color:	#696969!important;
}
h2.text-primary{
	color:#2F4F4F!important;
}
.graphset{
  margin-top:3rem;
}
.bg-primary{ 
background-color:#37404a!important;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

a {
	color: #696969;
}

a:active, a:focus, a:hover {
	color: #696969;
}

.social-icons a:hover {
	background-color: #696969;
}

.dev-icons .list-inline-item i:hover {
    color: #696969;
}

		


